@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Jost", sans-serif;
}

main .container {
  padding-top: 48px;
  padding-bottom: 48px;
}

table {
  margin: 0 !important;
}

th:first-child {
  border-right: 3px solid #0b486b;
}

thead th {
  border-bottom: 3px solid #0b486b !important;
  font-size: 26px;
}

th:first-child {
  width: 25%;
}

tbody th {
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
}

th {
  text-align: center;
  vertical-align: middle;
}

tr:not(:first-child):not(:last-child) td {
  padding: 12px 24px !important;
  padding-right: 0 !important;
}

td {
  padding: 24px !important;
  padding-right: 0 !important;
}

tr:first-child td {
  padding-bottom: 12px !important;
}

tr:last-child td {
  padding-top: 12px !important;
  padding-bottom: 0 !important;
}

main, th, td {
  background-color: #F9F9F9 !important;
}

header, footer {
  color: #5c6471;
  background-color: #F7F9FC !important;
}

.titulo {
  color: #5c6471;
  font-size: 18px;
  font-weight: 600;
}

p {
  font-weight: 500;
  font-size: 20px;
}

footer {
  padding: 24px;
}

.btn-primary {
  padding: 8px 16px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  background-color: #167cba !important;
}

#rightModal .modal-dialog,
#wrongModal .modal-dialog {
  max-width: 540px !important;
}
#rightModal .modal-header,
#wrongModal .modal-header {
  font-weight: 600;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#rightModal .modal-content,
#wrongModal .modal-content {
  border: 1px solid #ccc;
  border-radius: 4px;
}
#rightModal .modal-title,
#wrongModal .modal-title {
  font-size: 26px !important;
}
#rightModal .modal-body,
#wrongModal .modal-body {
  font-size: 18px;
}
#rightModal .btn-close,
#wrongModal .btn-close {
  filter: invert(100%);
}
#rightModal .modal-title,
#rightModal .btn-primary,
#wrongModal .modal-title,
#wrongModal .btn-primary {
  font-weight: 500 !important;
}

#rightModal .modal-header {
  background-color: #178545;
}
#rightModal .btn-primary {
  background-color: #178545 !important;
}

#wrongModal .modal-header {
  background-color: #dc3545;
}
#wrongModal .btn-primary {
  background-color: #dc3545 !important;
}

.dimension-slot,
.btn-slot {
  border: 3px dashed #0b486b;
  height: 60px;
  width: 150px;
  border-radius: 4px;
}

.dimension-slot {
  margin: 24px auto;
}

.meaning-label {
  border: 2px solid #0b486b;
  border-radius: 4px;
  min-height: 150px;
  padding: 16px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.meaning-label.right {
  border-color: green !important;
}
.meaning-label.wrong {
  border-color: red !important;
}

.dimensions {
  gap: 24px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}

.dimensions .label {
  height: 60px;
  display: inline-block;
  width: unset;
  display: flex;
  align-items: center;
}

.btn-slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-dimension {
  background-color: #00508a;
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding: 16px;
  min-width: 150px;
}
.btn-dimension:hover {
  background-color: #cccccc;
}

#verificar {
  margin-top: 1em;
  background-color: #00508a !important;
}/*# sourceMappingURL=style.css.map */